@media screen and (max-width:600px) {
    section.main {
        grid-template-areas:
        "info"
        "albums";
        grid-template-columns: 1fr;
        grid-gap: 20px;
        align-items: center;
        text-align: center;
        margin-left: 90px;
        margin-right: 100px;
    }
    .album{
        height: 100px;
        width: 100px;
    }
}

    h1{
        font-size: 50px;
    }
}

@media screen and (max-width:600px){
    section.sheila{
        grid-template-areas:
            "description ."
        background-color: black;
    }
}
