h2{
    font-size: 18px;
    font-family: sans-serif;
}


nav a{
    display: block;
}


.left_section {
    grid-area: info;
}

section.main{
    display: grid;
    grid-template-areas:
        "info albums";
    grid-template-columns: 200px 1fr;
}

.grid_container{
    grid-area: albums;
    display: grid;
    grid-template-areas:
            "dababy drake drake2"
            "future gambino mac"
            "rae weeknd thug";

    grid-gap: 1rem;
    justify-content: center;
    align-items:center;
    text-align:center;
}

.description{
    display: grid;
    grid-template-areas:
        "a_ . "
        "b_ . "
        "c_ ."
        "d_ ."
        "e_ ."
        "f_ ."
        "g_ ."
        "h_ ."
        "i_ .";
    grid-gap: 5rem;
    justify-self: end;
    align-items: center;
    text-align: center;
}


.box{
    border: 1px solid:#000000;
    font-family: monospace;
    height: 100px;
}

.album{
    height: 200px;
    width: 200px;
}
.dababy_box{
    grid-area: dababy;
}

.drake_box{
    grid-area: drake;
}

.drake2_box{
    grid-area: drake2;
}

.future_box{
    grid-area: future;
}

.gambino_box{
    grid-area: gambino;
}

.mac_box{
    grid-area: mac;
}

.rae_box{
    grid-area: rae;
}

.weeknd_box{
    grid-area: weeknd;
}

.thug_box{
    grid-area: thug;
}

.ending{
    display: grid;
}
