@media screen and (max-width: 600px) {
  body {
    background: #ebf5fb;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "content";
  }

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 120px 120px 120px;
    grid-template-areas:
      "header"
      "sidebar"
      "content";
  }

  .wrapper_2 {
    grid-template-areas:
      "p1, p4"
      "p3, p6";
    margin-left: 500px;
  }

  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
}

h1 {
  font-size: 50px;
}
