@media screen and (max-width: 600px) {
  body {
    background-color: #bada55;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "content";
  }

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 120px 120px 120px;
    grid-template-areas:
      "header"
      "sidebar"
      "content";
  }

  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  /* section.main {
    grid-template-areas: "header" "content";
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    text-align: center;
    margin-left: 90px;
    margin-right: 100px;
  }
  .p1,
  .p2,
  .p3,
  .p4,
  .p5,
  .p6 {
    height: 100px;
    width: 100px;
  } */
}

h1 {
  font-size: 50px;
}
