body {
  margin: 40px;
  background: #ebf5fb;
  font-family: "PT Sans Narrow", sans-serif;
  color: #06517e;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header content";
}

header.wrapper {
  grid-area: header;
  margin: 0;
}

section.content {
  grid-area: content;
  margin-right: 0;
}
.sidebar {
  grid-area: sidebar;
  margin-top: 20px;
}

.content {
  grid-area: content;
  justify-content: end;
  color: #06517e;
  margin-left: 50px;
}

.header {
  grid-area: header;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 120px 120px 120px;
  grid-template-areas:
    "header header header"
    "sidebar content content";
}

.wrapper_2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 120px 120px 120px;
  grid-template-areas: "madrid, c," "d, f,";
}

.box {
  padding: 10px;
  font-size: 150%;
}

#h1 {
  font-size: 50px;
}
#intro {
  margin-top: -10px;
  margin-left: 5px;
}

.a,
.c,
.d,
.f {
  grid-area: "a c" "d f";
}

#photo_spain,
#photo_israel {
  margin-left: -450px;
}

#photo_cap {
  margin-left: -190px;
  margin-top: -290px;
}

#photo_florence {
  margin-left: -580px;
  margin-top: 300px;
}

.info1 {
  display: none;
  align-items: center;
  font-family: "PT Sans Narrow", sans-serif;
  color: #5a5473;
  max-width: 300px;
}

.info3 {
  display: none;
  align-items: center;
  font-family: "PT Sans Narrow", sans-serif;
  color: #5a5473;
  max-width: 300px;
}

.info4 {
  display: none;
  align-items: center;
  font-family: "PT Sans Narrow", sans-serif;
  color: #5a5473;
  max-width: 300px;
}

.info6 {
  display: none;
  align-items: center;
  font-family: "PT Sans Narrow", sans-serif;
  color: #5a5473;
  max-width: 300px;
}

.box_ {
  border-radius: 5px;
  padding: 20px;
}

.wrapper_3 {
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 100px);
  margin-top: 150px;
  margin-left: 350px;
}

.foot {
  margin-top: 95px;
  font-size: 18px;
}
