html, body{ background-color: #F3D6EB; margin: 5}

h1, h2{ color: #800080; font-family: 'Raleway', sans-serif; font-size: 34px}

p{font-family: 'Abel', sans-serif;
font-size: 18px}

div{font-family: 'Abel', sans-serif;}

img#headshot{height:250 width:250
  display: inline-block;
}

section#work {font-size: 18px}

#email{color: red;}
#twitter{color: red;}
#number{color: red;}

a,a:link{text-decoration: none;}
a:visted {color: green;}
a:hover{background-color: black;  color: pink;}

a:link, a:visited{}
a:hover, a:active{}
